Django==6.0.3
djangorestframework==3.16.1
python-dotenv==1.2.2
google-api-core==2.30.0
google-api-python-client==2.192.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0

Django==6.0.3
djangorestframework==3.16.1
python-dotenv==1.2.2
google-api-core==2.30.0
google-api-python-client==2.192.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0

# Base de datos
#psycopg2-binary==2.9.10       # PostgreSQL (producción)

# Celery (lo agregaremos cuando lo configuremos)
# celery==5.4.0
# redis==5.2.1
